@import "../../vars.css";

.messaging {
    position: fixed;      /* Keep it positioned relative to the viewport */
    bottom: 0px;         /* 20 pixels from the bottom */
    right: -650px;          /* 20 pixels from the right */
    z-index: 20;          /* Ensure it's layered above other content as needed */
    display: flex;        /* Keeps internal flex items aligned */
    flex-direction: row;  /* Default flex direction to ensure content is laid out horizontally */
}

.messagingBtn{
    cursor:pointer;
    background-color: var(--color-dark);
    border-radius: 20px;
    width: 10%;
    height: 10%;
}

.messagingBtn:hover{
    background-color: var(--color-primary);
}

.chatInterface{
    display:none;
    flex-direction:column;
    gap:20px;
    background-color: var(--color-secondary);
    border-radius:10px;
    border-color:var(--color-dark);
    padding:20px;
    width: 20%;
    height: 50%;
    overflow-y: auto;
}

.chatHeader{
    padding: 10px;
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.closeBtn{
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.chatBody {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message{
    margin: 5px 0;
    padding: 5px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

